.container {
    overflow: hidden;
}
.navbar {
    overflow: hidden;
}
.jumbotron {
     padding-top: 8rem;
     background-color: #e2edff;
}
#projects {
    background-color: #e2edff;
}
section {
    padding-top: 4rem;
}
.gallery-img {
    width: 100%;
}
#gallery .row > * {
    padding: 0;
}
/* my keyboard section */
.keyboard-box {
    position: relative;
    background-color: #0c6efd;
    border-radius: 10px;
    height: 500px;
    /* buat ngasih tau ada element 3d di dalam elemen kotak ini */
    transform-style: preserve-3d;
}
.keyboard-box::before {
    content: 'MY';
    position: absolute;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    top: 58px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: .5s;
    opacity: 0;
}
.keyboard-box::after {
    content: 'KEYBOARD';
    position: absolute;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    top: 350px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: .5s;
    opacity: 0;
}
.keyboard-box:hover::before{
    opacity: .2;
}
.keyboard-box:hover::after{
    opacity: .2;
}
.keyboard-name {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2em;
    opacity: 0;
    transition: .5s;
    /* sumbu x, y, z(3d) */
    transform: translate3d(0,0,50px);
}
.keyboard-box:hover .keyboard-name {
    top: 15px;
    opacity: 1;
}
.keyboard-detail-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: .5s;
    transform: translate3d(-50%, 0, 90px);
}
.keyboard-box:hover .keyboard-detail-button {
    bottom: 35px;
    opacity: 1;
}
.keyboard-img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate3d(-50%, 0, 85px);
    transition: .5s;
}
.keyboard-box:hover .keyboard-img {
    transform: translate3d(-50%, 0, 85px) scale(1.3) rotate(10deg);
}